<div class="appHeader pointerEvents" t-hidden="hideHeader"><div class="icon"></div><h2>[% trans(headerTextId) %]</h2><div class="menu button" data-click="pad.view.apps" t-hidden="hideAppsButton">[% trans('mainMenuBtnPad') %]</div></div><div class="appContentWrapper pointerEvents"><div class="appContent"><ul class="measureProtocol"><li><h3 class="floatLeft half center">[% trans('txt_percentage') %]</h3><h3 class="floatLeft half center">[% trans('txt_description') %]</h3></li><li><div class="half protocolLeft center">
                    &lt; 1
                </div><div class="half center protocolRight">
                    [% trans('humusTable_name1') %]
                </div></li><li><div class="half protocolLeft center">
                    1-2
                </div><div class="half center protocolRight">
                    [% trans('humusTable_name2') %]
                </div></li><li><div class="half protocolLeft center">
                    2-4
                </div><div class="half center protocolRight">
                    [% trans('humusTable_name3') %]
                </div></li><li><div class="half protocolLeft center">
                    4-8
                </div><div class="half center protocolRight">
                    [% trans('humusTable_name4') %]
                </div></li><li><div class="half protocolLeft center">
                    8-15
                </div><div class="half center protocolRight">
                    [% trans('humusTable_name5') %]
                </div></li><li><div class="half protocolLeft center">
                    15-30
                </div><div class="half center protocolRight">
                    [% trans('humusTable_name6') %]
                </div></li><li><div class="half protocolLeft center">
                    &gt; 30
                </div><div class="half center protocolRight">
                    [% trans('humusTable_name7') %]
                </div></li></ul></div></div>