<div class="appButton sensitive inactive" id="buttonExperiments" data-click="pad.view.experiments">
    <div class="buttonLabel center">[% trans('experimentsPadHeader') %]</div>
</div>
<div class="appButton sensitive" id="buttonVideos" data-click="pad.view.videos">
    <div class="buttonLabel center">[% trans('videosPadHeader') %]</div>
</div>
<div class="appButton sensitive" id="buttonTests" data-click="pad.view.tests">
    <div class="buttonLabel center">[% trans('testsPadHeader') %]</div>
</div>
<div class="appButton sensitive" id="buttonGlossary" data-click="pad.view.glossary">
    <div class="buttonLabel center">[% trans('glossaryPadHeader') %]</div>
</div>
<div class="appButton sensitive" id="buttonBadges" data-click="pad.view.badges">
    <div class="buttonLabel center">[% trans('badgesPadHeader') %]</div>
</div>
<div class="appButton sensitive hidden" id="buttonSpeechLab" data-click="pad.view.speechLab.start">
    <div class="buttonLabel center">[% trans('speechLabPadHeader') %]</div>
</div>
