<div class="measurementsWrapper">

    
            <div class="measurementWrapper">
            <input class="center inputField" type="text" maxlength="1" disabled="disabled" type="number"/>
            <span class="label">[% trans('testSecondsLabel') %] =</span>
        </div>

            <div class="measurementWrapper">
            <input class="center inputField" type="text" maxlength="1" disabled="disabled" type="number"/>
            <span class="label">[% trans('testSecondsLabel') %] =</span>
        </div>

            <div class="measurementWrapper">
            <input class="center inputField" type="text" maxlength="1" disabled="disabled" type="number"/>
            <span class="label">[% trans('testSecondsLabel') %] =</span>
        </div>

    </div>
